#NewsItems h2	{
	display: inline;
}

#NewsItems h3, #NewsItems p.private_story_indicator	{
	display: inline;
	color: #999;
}

ul#NewsItems li p	{
	margin-left: 2em;
}

ul#NewsItems li	{
	margin-bottom: 2em;
}

.attached_files	{
	margin-left: 4em;
}

ul#NewsItems ul.attached_files li	{
	margin-bottom: 1em;
}