#NewsItems h2	{
	display: inline;
}

#NewsItems h3, #NewsItems p.private_story_indicator	{
	display: inline;
	color: #999;
}

ul#NewsItems li	{
	margin-bottom: 2em;
}

.attached_files	{
	margin-left: 4em;
}

ul#NewsItems ul.attached_files li	{
	margin-bottom: 1em;
}

ul#NewsItems ul.attached_files li a img	{
	border: none;
}

ul#NewsItems li div.body	{
	padding-left: 2em;
	margin-bottom: 1em;
}

ul#NewsItems div.body ul	{
	list-style-type: circle;
	padding-left: 40px;
}

ul#NewsItems div.body ul li	{
	margin-bottom: 0;
}

#InvitationToFans {
	float: right;
	width: 200px;
	background-color: #cc6;
	padding: 5px;
	border: 4px solid #aa0;
	text-align: center;
	margin: 1em;
}

#InvitationToFans p {
	font-size: 8pt;
}

#InvitationToFans h1 {
	font-size: 16pt;
}
