<div class="news_item">
  <h2><%= news_item.title %></h2>
  <h3><%= news_item.date %></h3>
  <p class="private_story_indicator">
    <% if news_item.is_private? -%>
      (private)
    <% else -%>
      (public)
    <% end -%>
  </p>
  <%= RedCloth.new(news_item.body).to_html %>
  <ul class="attached_files">
    <%= render :partial => 'private/attached_files/attached_file', :collection => news_item.attached_files %>
  </ul>
</div>