<h1>The Original Madison Brass Band</h1>
<div id="OriginalBand">
	<%= image_tag 'original_band.jpg', :alt => 'Black-and-white photo of brass band players conversing in a half-circle with instruments' %>
	<p class="caption">
		Madison, Wisconsin. September 10, 1879.<br />
		The Madison Brass Band at Camp Randall, facing east towards the state capitol, during the 1879 Wisconsin State Fair.
	</p>
</div>

<p>
	This band was formed in 1863 by George Scherer, a Bavarian immigrant and proprietor of a meat market in Madison. Only one member of this band was a professional musician. The other members, all German or German-American businessmen or artisans, worked as cigar-makers, a shoemaker, stone cutters, and a saloon proprietor in Madison.
</p>

<p>
	Please note: We are still looking for a saloon proprietor to <%= link_to 'join our group', join_path %>!
</p>