@charset "utf-8";

html	{
	background-color: #a30000;
	height: 100%;
	font-size: 10pt;
}

body	{
	background-color: #feffff;
	font-family: verdana;
	color: #333;
	margin: 15px auto auto auto;
	padding: 0 20px 0 20px;
	min-height: 90%;
	min-width: 600px;
	max-width: 900px;
}

p.subtle	{
	font-color: #333;
	font-style: oblique;
	font-size: 10pt;
}

.members_only	{
	border: 1px solid orange;
	background-color: #f5b800;
}

a	{
	color: #933;
	text-decoration: none;
}

a img	{
	border: none;
}

a:hover	{
	color: #e33;
}

div.container	{
	width: 70%;
	margin: auto;
	padding: 0;
}

div.container p.summary	{
	width: 50%;
	margin: auto;
	text-align: center;
}

div.spacer	{
	clear: both;
	display: hidden;
}

hr	{
	margin: 0 -20px 0 -20px;
	border-style: none;
	border-collapse: collapse;
	height: 2px;
	background-color: #a30000;
}

h1, h2, h3, h4	{
	text-align: center;
}

h1	{
	font-size: 24pt;
}

h2	{
	font-size: 18pt;
	color: #a30000;
}

h3	{
	font-size: 10pt;
}

.spacer	{
	display: hidden;
	clear: both;
}

.instructions {
	color: #666;  /* Light grey, gets out of the user's way. */
	width: 80%;
	font-style: oblique;
	margin: auto;
}

/**
 * Form errors (classes automatically generated by form helpers).
 */
.fieldWithErrors input {
	border: 2px solid red;
}


#errorExplanation {
	width: 80%;
	margin: auto;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	display: none;
}

#errorExplanation p {
	background-color: #c00;
	color: #fff;
	margin: -7px;
	margin-bottom: 15px;
	padding: 5px;
}

#errorExplanation ul {
	padding-left: 40px;
}

#errorExplanation ul li {
	font-size: 10pt;
	list-style: square;
}

/**
 * The title at the top of every page.
 */
#Header	{
	padding: 0px;
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 0px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#Header a	{
	color: #a30000;
}

#Header h1	{
	background-color: transparent;
	text-align: center;
	font-size: 32pt;
	color: #a30000;
	background-color: white;
	margin: 0 20px 0 20px;
	padding-top: 10px;
	padding-bottom: 0;
	clear: right;
}

#Header h2	{
	text-align: center;
	color: #666;
	font-style: oblique;
	margin: 0px;
	margin-bottom: 5px;
	font-size: 10pt;
}

#Header ul	{
	list-style: none;
	padding-left: 0;
}

#Error	{
	width: 650px;
	margin: auto;
	color: red;
	font-weight: bold;
	text-align: center;
}

#Notice	{
	width: 650px;
	margin: auto;
	color: green;
	font-weight: bold;
	text-align: center;
}

#MemberBar {
	font-size: 8pt;
	float: right;
	margin-top: 10px;
	margin-bottom: -20px;
	text-align: right;
}

#MemberBar h3 {
	margin-bottom: 0;
}

#MemberBar ul#MemberActions {
	list-style: none;
	padding-left: 0;
	margin: auto;
	float: right;
}

#MemberBar ul#MemberActions li {
	float: left;
	margin: 0 1em 0 0;
}

#MemberBar ul#MemberActions li:last-child {
	float: left;
	margin: 0 0 0 0;
}

/**
 * The navigation menu lining the bottom of the header
 */
.menu_bar	{
	list-style: none;
	padding: 5px;
	margin: 0 auto 0 auto;
	background-color: white;
	color: #a30000;
	text-align: center;
}

#Header .menu_bar	{
	width: 650px;
	border-top: 1px solid #a30000;
	border-bottom: 1px solid #a30000;
}

.menu_bar a	{
	color: #a30000;
}

.menu_bar li	{
	display: inline;
	padding: 5px 10px 5px 10px;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

.menu_bar li:hover	{
	background-color: #eeeeee;
}

/**
 * The footer at the bottom of every page.
 */
#Footer	{
	width: 50%;
	margin: auto;
	
	margin-top: 3em;
	margin-bottom: 0;
	padding-bottom: 1em;
	clear: both;
	
	color: #777;
	font-size: 10pt;
	text-align: center;
}

/*
 * This stolen from http://www.filamentgroup.com/examples/buttonFrameworkCSS/
 */
.fg-button { font-size: 6pt; outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.4em; }
.fg-button-icon-right { padding-right: 2.4em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
