ul#Concerts	{
	padding: 0;
	width: 80%;
	margin: auto;
}

ul#Concerts li:first-child	{
	border-top: solid #a30000 1px;
}

ul#Concerts li	{
	border-bottom: solid #a30000 1px;
}

.concert	{
	width: 80%;
	margin: auto;
}

ul#Concerts li .concert	{
	width: 100%;
}

#ConcertMap	{
	margin: 0 25% 0 25%;
}

#Program	{
	margin: 50px;
	list-style: none;
	text-align: center;
}

#ConcertForm {
	width: 70%;
	margin: auto;
	text-align: center;
}

input#concert_title {
	font-size: 18pt;
	text-align: center;
}
