div.placeholder	{
	background-color: #ccc;
	margin: none;
	padding: none;
}

/**
 * The sweet picture of us doing something awesome.
 */
#HomeSplashImage	{
	max-width: 250px;
	max-height: 500px;
	float:left;
	padding: 2em;
	padding-left: 4em;
}

/**
 * The box surrounding the title and the catchy intro. text.
 */
#Content	{
	float: left;
	margin: 0px;
	margin-top: 1em;
	padding: none;
	width: 400px;
}

#Content #Summary	{
	font-size: 12pt;
	font-style: oblique;
	text-align: center;
	
	padding: 20px;
	padding-top: 0;
	max-width: 360px;
}

#Content #Logo	{
	margin-bottom: 0px;
	text-align: center;
}

#Content #Logo img	{
	max-width: 150px;
	margin-bottom: 0px;
}

/**
 * "Our Next Concert"
 */
#NextConcert	{
	padding: 20px;
	clear: both;
	text-align: center;
	font-size: 14pt;
}

#NextConcert h1	{
	font-size: 18pt;
}

#NextConcert p	{
	margin: 0;
}

#NextConcert #Location:before	{
	content: 'at ';
}