#FlashyMenu	{
	margin: auto;
	text-align: center;
	width: 735px;
}

#FlashyMenu > ul	{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#FlashyMenu > ul li	{
	float: left;
	padding: 10px;
}

#FlashyMenu > ul li:hover	{
	background-color: #FFFFEE;
}

#FlashyMenu > ul li > div.box	{
	margin: 0;
	width: 225px;
	height: 260px;
}

#FlashyMenu > ul li > div.box > img.thumbnail	{
	width: 160px;
	height: 160px;
}

#FlashyMenu > ul li > div.box > h1	{
	font-size: 18pt;
}

#FlashyMenu > ul li > div.box > h2	{
	font-size: 10pt;
}