<h1>Book us at Your Next Event</h1>
<p class="summary">
	Madison Brass Band is available for performances. Our 30-piece group has traveled across the midwest as far as Iowa and Northern Wisconsin. To arrange an event, please <%= mail_to 'booking@madisonbrass.com', 'e-mail our booking coordinator' -%>.
</p>

<h2>FAQS: Hosting a Madison Brass Band Concert</h2>

<ul>
	<li>
		<h3>What is Madison Brass Band (MBB)?</h3>
		<p>The Madison Brass Band is the premier brass band of southern Wisconsin. The group, which is about 30 musicians strong, plays a variety of music at locations throughout the state. MBB boasts a diverse membership—players range from age 14-75, and include professional musicians, music educators and people who love brass band music.</p>
	</li>
	<li>
		<h3>What kinds of music does MBB play?</h3>
		<p>The Madison Brass Band is rooted in the British brass band tradition, which utilizes conical-bored instruments with distinctive, mellow sounds. The product is much like a powerful choir, with the baritones and tenor horns lending the brass band its unique, "British" sound. The Madison Brass Band can play both lyrical, flowing music as well as high-energy marches and contest music.</p>
		<p>MBB plays a original compositions, marches, program music, orchestral transcriptions, and music for competitions. The group can customize a program for you, whether you need lyrical music fit for a church, an educational concert for elementary students, or a classical or jazzy performance in a concert hall. We can play outdoors, too!</p>
	</li>
	<li>
		<h3>What’s so great about MBB?</h3>
		<p>MBB placed 5th at the U.S. Open Brass Band Championship in 2008, and is committed to producing good music&mdash;music without pretension. MBB prides itself on good music and good people who are easy to work with, and have fun when they perform. MBB is headquartered in Madison, so by booking the band, you will save on transportation costs and know you will be supporting local musicians.</p>
	</li>
	<li>
		<h3>How much does it cost to host a MBB performance?</h3>
		<p>Madison Brass Band supports itself by charging venues a fee for each performance. This money goes back to the band, allowing us to purchase new music, run publicity efforts and attend special events. Whatever your constraints, we'd be <%= mail_to 'booking@madisobrass.com', 'happy to speak with you' -%> and find out how we can make your event work for both of us!</p>
	</li>
	<li>
		<h3>When is MBB available to play?</h3>
		<p>Because most of our players have other daytime jobs, we prefer to perform on evenings or weekends, especially when it requires traveling outside of the Madison area. We will play anytime of year, including the summer. Concerts are scheduled based on musician availability.</p>
	</li>
	<li>
		<h3>How can I learn more?</h3>
		<p>There is more information in our <%= link_to 'About the Band', about_path -%>, but feel free to <%= mail_to 'booking@madisonbrass.com', 'e-mail our Booking Agent' -%>.</p>
	</li>
</ul>
