<h1>Book us at Your Next Event</h1>
<p class="summary">
	Madison Brass Band is available for performances. Our 30-piece group has traveled across the midwest as far as Iowa and Northern Wisconsin. To arrange an event, please <%= mail_to 'booking@madisonbrass.com', 'e-mail our booking coordinator' -%>.
</p>