<h1>Book us at Your Next Event</h1>
<p class="summary">
	Madison Brass Band is always looking for new venues. We have no set price schedule, but we invite you to <%= mail_to 'booking@madisonbrass.com', 'e-mail our booking agent' -%>.
</p>