<div id="FlashyMenu">
	<ul>
		<li>
			<div class="box">
				<h1>Our Next Concert</h1>
				<%= image_tag 'band_at_us_open.png', :class => 'thumbnail',
				    :alt => 'An E-flat bass and a tenor horn playing by the percussion.' %>
				<h2>February 26, 2009<br />in Fond du Lac</h2>
			</div>
		</li>

		<li>
			<div class="box">
				<h1>Join the Band</h1>
				<%= image_tag 'tuba_and_percussion.jpg', :class => 'thumbnail',
				    :alt => 'An E-flat bass and a tenor horn playing by the percussion.' %>
				<h2>We always need<br />good musicians!</h2>
			</div>
		</li>

		<li>
			<div class="box">
				<h1>Book Our Group</h1>
				<%= image_tag 'santa_hats.jpg', :class => 'thumbnail',
				    :alt => 'Band Members in Santa Hats, looking up at the camera.' %>
				<h2>We want to play<br />at your event!</h2>
			</div>
		</li>
		<div class="spacer"></div>
	</ul>
</div>
<hr class="banner" />
