<%= image_tag 'rehearsal.jpg', :id => 'HomeSplashImage' %>
<div id="Content">
	<div id="Logo"><%= image_tag 'madison_logo.jpg' %></div>
	<p id="Summary">
		The Madison Brass Band is the premier brass ensemble in southern Wisconsin. We believe in playing and enjoying good music music without pretension.
	</p>
	
	<div id="NextConcert">
		<h1>Our Next Concert</h1>
		<p id="Date">Thursday, March 19 at 2:00 p.m.</p>
		<p id="Location">
			<a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5454+Gunflint+Trail&amp;sll=43.019584,-89.41412&amp;sspn=0.075178,0.105743&amp;ie=UTF8&amp;ll=43.03251,-89.41103&amp;spn=0.075162,0.105743&amp;z=13">Eagle School in Madison</a>
		</p>
	</div>
</div>

<div class="spacer"></div>
