<div id="Summary">
	<h1>Welcome!</h1>
	<p>
		Madison Brass Band is the premier brass ensemble in Southern Wisconsin. We believe in playing good music.<br />
		Music without pretention.
	</p>
</div>

<%= render :partial => 'flashy_menu' %>

<p>
	Quisque elementum iaculis orci. In volutpat, arcu ut ornare scelerisque, augue nunc laoreet arcu, quis elementum mi eros ut mi. Donec vitae turpis sed sem blandit molestie. Vestibulum condimentum urna id risus. Proin fringilla. Curabitur posuere libero quis ipsum. Nam pharetra venenatis mi. Aliquam erat volutpat. Ut et eros. Etiam lobortis, arcu quis aliquet venenatis, nunc arcu suscipit mi, eu malesuada urna dolor eget lectus.
</p>