<div class="inner_container">
  <div id="Summary">
  	<h1>Welcome!</h1>
  	<p>
  		Madison Brass Band is the premier brass ensemble in Southern Wisconsin. We believe in playing good music.<br />
  		Music without pretention.
  	</p>
  </div>
</div>

<%= render :partial => 'flashy_menu' %>

<div class="inner_container">
  <p>
  	The Madison Brass Band is Southern Wisconsin’s premier brass ensemble. We are based on the British Brass Band model and use the following instruments:  cornets, flugelhorn, alto horns, english baritones, trombones, euphoniums, Eb tubas, Bb tubas, and percussion. All musicians read in the treble clef with the exception of the bass trombone. We play a variety of music including original compositions, marches, program music, orchestral transcriptions, and contest music.
  </p>

  <p>
  	We take pride in our members being both good musicians and good people. We enjoy playing with each other and experiencing the world of brass band music with our audiences.
  </p>
</div>