<div id="Summary">
	<h1>Welcome!</h1>
	<p>
		Madison Brass Band is the premier brass ensemble in Southern Wisconsin. We believe in playing good music.<br />
		Music without pretention.
	</p>
</div>

<%= render :partial => 'flashy_menu' %>

<p>
	Madison Brass Band was formed in 1954.
</p>