<div id="Summary">
	<h1>Welcome!</h1>
	<p>
		Madison Brass Band is the premier brass ensemble in Southern Wisconsin. We believe in playing good music.<br />
		Music without pretention.
	</p>
</div>

<%= render :partial => 'flashy_menu' %>

<p>	The Madison Brass Band began in 1849, shortly after Wisconsin statehood.  It is most 
	famous for being the first band to inspire the saying “Stop the Music.”
</p>

<p>	The original organization had little to go on because there were no Czech musicians 
	available in the area.  They did their best using local Germans, Danes, and Dutch, but all 
	accounts suggest they sounded like a herd of cows mooing shortly before morning 
	milking time. 
</p>
<p>	The group disbanded with the advent of the Civil War.  The opposition political party 
	arranged for the Madison Brass Band to play at the Governor’s Mansion for a grand 
	affair.  Shortly after they began playing, the governor ordered them immediately to the 
	front.  Players beat a hasty exit to boats waiting on Lake Mendota, then went into hiding. 
</p>
<p>	That was followed by a period of about 140 years, during which there were blips of 
	creativity, but, fortunately, no successful effort at reorganization.  
</p>
<p>	In 2002, Bohemian John Zwolanek was found in the area by marginal musician Steve 
	Tweed.  Together, they organized people of barely average ability in an attempt to create 
	a musical organization. 
</p>
<p>	The early days were especially rough, with neighbors interrupting rehearsals by barging 
	into the hall banging on pots and pans.  After numerous police calls, the group again went 
	into hiding, successfully learning how to manipulate their instruments in caves and under 
	highway bridges. 
</p>
<p>	Several local conductors were duped into the effort.  Some left crying, others stomped 
	away infuriated.  Eventually the group found a conductor with a real advantage – partial 
	deafness. 
</p>
<p>	Although barely competent at this point, the Madison Brass Band continues to inspire 
	local musicians.  The most common comment – “I couldn’t be any worse.” 
</p>
<p>	That inspiration, and continued hard work, are the hallmarks of the Madison Brass Band.  
	We hope to see you, if only briefly, at our next event.
</p>
