ul#Sections	{
	margin: 0;
	list-style: none;
	padding-left: 0;
	width: 700px;
}

ul#Sections ul {
	list-style: none;
	padding-left: 0;
}

ul#Sections li h2	{
	text-align: left;
	font-size: 14pt;
	margin: 0;
	border-bottom: 1px solid black;
}

table.section	{
	width: 100%;
}

table.section td.operations   {  width: 51px;   } /* 3 knobs @ 16px + whatever the browser wants. */
table.section td.photo        {  width: 50px;   } /* Member "tiny" photo class width. */
table.section td.name         {  width: 200px;  }
table.section td.contact      {  width: 249px;  } /* 1px extra to round out td.operations in Chrome. */
table.section td.section      {  width: 150px;  }

table.section td.operations   {  padding: 0;    }

ul.operations li	{
	float: left;
}

ul.operations li .operation	{
	width: 16px;
	height: 16px;
}

.operation *	{
	border: none;
}

.under_section_button {
	margin: 1em;
	margin-top: 0.5em;
	margin-left: 51px;
}
