<h1>MBB's Latest News</h1>

<ul id="NewsItems">
	<li class="story">
		<h2>March 1, 2009<br /> Band to Participate in 2009 Grand Celebration of Brass Bands</h2>
		<p>
			The Madison Brass Band has accepted an invitation to the <a href="http://www.eibb.org/gcobb.php">2009 GCOBB</a>, hosted by <a href="http://www.eibb.org/">Eastern Iowa Brass Band</a> in Amana, Iowa. Run by EIBB since 1995, the Celebration brings together 2-4 brass bands each year performing concerts all day, together with a mass band performance at the event's conclusion. Notable brass bands to participate in the past include Illinois Brass Band, Chicago Brass Band, Central Ohio Brass Band and Madison Brass Band. In 2008, the event was flooded out, and has therefore changed venues; we are looking forward to making our return to this event and seeing its return to the culture of Midwest brass bands.
		</p>
	</li>
</ul>

<h4>Come back soon for more performance announcements and other news!</h4>