#ContentBox {
	width: 70%;
	margin: auto;
}

#WelcomeMessage {
	margin-bottom: 35px;
}

#ContentBox label {
	float: left;
}

#ContentBox form p {
	text-align: center;
}

#FormFields {
	margin: auto;
	text-align: center;
	width: 50%;
}

#FormFields input {
	font-size: 14pt;
	width: 95%;
}

