<h1>Private Roster</h1>
<p>
	This is the current roster of the band, reflected on the <%= link_to 'public member page', private_members_path -%>. Members appear in order within their sections.
</p>

<table id="Sections" class="sections">
	<thead>
		<tr>
			<td></td>
			<th><!-- Photo --></th>
			<th>Member Name</th>
			<th>E-Mail Address</th>
			<th>Section</th>
		</tr>
	</thead>
	
	<tbody>
		<%= render :partial => 'section', :collection => Section.all %>
	</tbody>
</table>
