<div id="InvitationToFans">
	<h1>Keep In Touch!</h1>
	<p>
		Join our E-mail list, and we'll keep you abreast of important developments with the band.
	</p>
	<%= link_to "Sign Up Now", new_fan_path %>
</div>
