<h1>MBB's Latest News</h1>

<% unless @stories.empty? -%>
	<ul id="NewsItems">
		<%= render @stories %>
	</ul>
<% else -%>
	<h4>
		Times are busy, but the Madison Brass Band has no news at this time. Be sure to check out our <%= link_to 'next concert', next_concerts_path %>!
	</h4>
<% end -%>