<ul class="menu_bar">
	<%= link_to '<li>Past Concerts</li>', past_concerts_path %>
	<%= link_to '<li>Next Concert</li>', next_concerts_path %>
	<%= link_to '<li>Upcoming Concerts</li>', upcoming_concerts_path %>
</ul>