<div class="container">
	<h1>Our Next Concert</h1>
	<p>
		Eagle High School<br />
		5454 Gunflint Trail<br />
		Madison, WI 53711
	</p>
	<p>
		Madison Brass Band is excited to announce our next performance at Eagle High School in Madison, WI. Eagle High School is a gifted group of students whose interest in the arts is only exceeded by their ability to comprehend it.
	</p>
	
	<p>
		On our program for Eagle Heights, we will be playing:
		<ul>
			<li>Scottish Dances</li>
			<li>Something about an Irish Midwife</li>
			<li>Something Moorside</li>
			<li>Horns on Holiday</li>
			<li>God Bless the U.S.A.</li>
		</ul>
	</p>

	<%= render :partial => 'map' %>
</div>
