<h1>Our Next Concert</h1>
<h3>
	2pm Thursday, March 19, 2008<br />
	Eagle High School
</h3>
<h4>
	5454 Gunflint Trail,
	Madison, WI 53711
</h4>

<%= render :partial => 'map' %>
<ul id="Program">
	<h2>On Our Program</h2>
	
	<li>Majestic Prelude</li>
	<li>The Cossack</li>
	<li>Les Mis</li>
	<li>Come Home</li>
	<li>Irish Washerwoman</li>
	<li>I Got Rhythm</li>
	<li>Pas Redouble</li>
	<li>On Wisconsin</li>
</ul>
