<h1>Our Next Concert</h1>
<%= render :partial => 'map' %>
<h2>
	Saturday, June 20, 2009<br />
	Grand Celebration of Brass Bands
</h2>
<h4>
	Amana RV Park<br />
	Amana, IA
</h4>

<p>
	Madison Brass Band is returning this year to the 2009 <a href="http://www.eibb.org/gcobb.php">Grand Celebration of Brass Bands</a>, hosted for nearly twenty years by <a href="http://www.eibb.org/">Eastern Iowa Brass Band</a>. The celebration will include multiple concerts from participating bands all day. Participating with the hosts and Madison Brass Band will be Chicago Brass Band, who this year is coming off a second-place win in the NABBA brass band championships.
</p>

<p>
	More information, including a detailed schedule of the event, will be posted as available.
</p>
