#FileUploadForm	{
	width: 50%;
	margin: auto;
	text-align: center;
}

.news_item h2	{
	display: inline;
}

.news_item h3, .news_item p.private_story_indicator	{
	display: inline;
	color: #999;
}

.news_item	{
	border: 4px solid red;
	margin: auto;
}

.news_item h2, .news_item h3, .news_item p.private_story_indicator	{
	display: inline;
	margin-left: 1em;
}

.news_item p	{
	margin-left: 40px;
}

.attached_files	{
	margin-left: 4em;
}

ul#NewsItems ul.attached_files li	{
	margin-bottom: 1em;
}

ul#NewsItems ul.attached_files li a img	{
	border: none;
}