<div class="updown-buttons">
	<button class="member-up-button">
		<%= link_to "Move Up (within #{member.section} section)", move_up_member_path(member) %>
	</button>
	
	<button class="member-down-button">
		<%= link_to "Move Down (within #{member.section} section)", move_down_member_path(member) %>
	</button>
</div>

<ul>
	<li>
		<% link_to edit_member_path(member) do -%>
			<div class="operation fg-button ui-state-default ui-corner-all">Edit</div>
		<% end %>
	</li>
	<li>
		<% link_to member_path(member), :method => :delete do -%>
			<div class="operation fg-button ui-state-default ui-corner-all">Delete</div>
		<% end %>
	</li>
</ul>
