<div class="section-handle">
	<span class="operation ui-icon ui-icon-grip-dotted-horizontal"></span>
	Move
</div>

<ul>
	<li>
		<% link_to edit_member_path(member) do -%>
			<div class="operation fg-button ui-state-default ui-corner-all">Edit</div>
		<% end %>
	</li>
	<li>
		<% link_to member_path(member), :method => :delete do -%>
			<div class="operation fg-button ui-state-default ui-corner-all">Delete</div>
		<% end %>
	</li>
</ul>
