<h1>Roster</h1>
<p>
	This is the current roster of the band, reflected on the <%= link_to 'public roster', members_path -%>. Members appear in order within their sections.
</p>

<ul id="Sections" class="sections">
	<%= render :partial => 'section', :collection => @sections %>
</ul>
