<div id="Footer">
	<%= image_tag 'mslo_small.jpg', :alt => 'Main Street Law Office: Keeping family money in the family.' %>
	<p>
		Madison Brass Band is generously supported by the Main Street Law Office and by its members.
	</p>
	<p>
		Content is ©2009 Madison Brass Band<br />
		(unless otherwise noted)
	</p>
	<p>
	  See any problems? Looking for more information? Feel free to <%= mail_to 'webmaster@madisonbrass.com', 'contact us' -%> directly!
</div>