<div id="Footer">
	<p>
		Madison Brass Band is wholly supported by its generous, loyal fans and by its enthusiastic membership.
	</p>
	<p>
		Content is ©2009 Madison Brass Band<br />
		(unless otherwise noted)
	</p>
	<p>
		See any problems? Looking for more information? Feel free to <%= mail_to 'webmaster@madisonbrass.com', 'contact us' -%> directly!
</div>