<div id="Header">
	<%= render :partial => 'layouts/application/member_bar' %>
	<h1><%= link_to 'Madison Brass Band', home_path -%></h1>
	<h2><%= link_to 'Craig Mason, Musical Director', about_director_path -%></h2>
	<%= render :partial => 'layouts/application/menu' %>
</div>