<div id="Header">
	<%= image_tag 'players_close.jpg', :id => 'EyeCatcher',
	    :alt => 'Madison Brass Band players, focused intensely on the piece.' %>
	<div id="Title">
		<%= render :partial => 'layouts/application/menu' %>
		<h1>Madison Brass Band</h1>
		<h2>Craig Mason, Conductor</h2>
		<p id="Summary">
			The Madison Brass Band is the premier brass ensemble in southern Wisconsin. We believe in playing and enjoying good music;<br /><strong>music without pretension.</strong>
		</p>
	</div>
	<div class="spacer"></div>
</div>