<div id="MemberBar">
	<% if logged_in? -%>
		<h3>Logged in as <%= link_to current_user.name, current_user -%>.</h3>
		<ul id="MemberActions">
			<li><%= link_to 'What can I do?', member_privileges_path(current_user), { :title => "List my privileges." } -%></li>
			<li><%= link_to 'Log Out', logout_path, { :title => "Log out" } -%></li>
		</ul>
	<% else -%>
		<%= link_to 'Member Login', login_path, {:title => 'Member Login', :id => 'LoginLink'} %>
	<% end -%>
</div>
