<ul id="MemberBar">
	<li class="member-bar-greeting">Logged in as <%= current_member.name %>.</li>
	<li class="member-bar-action">(<%= link_to 'Member Home', private_members_path -%>)</li>
	<li class="member-bar-action">(<%= link_to_current_member :content_text => 'My Profile' -%>)</li>
	<li class="member-bar-action">(<%= link_to "Log out", logout_path, { :title => "Log out" } -%>)</li>
</ul>