<h1>Our Players</h1>
<p>
	We are fortunate to have an exceptional roster of players, many of them professional musicians and music educators, from throughout Southern Wisconsin. Our roster allows us to play challenging pieces and solo events, and our players have seen some of the best brass band repertoire through their tenure with the group. Our players are not paid, but rather they play for the music and for the exciting musical experience which is the Madison Brass Band.
</p>

<table id="Players"
 style="margin-left: auto; margin-right: auto; text-align: center;"
 border="0" cellpadding="1" cellspacing="1">
  <tbody>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><big><br>
      </big></td>
      <td style="text-align: center; vertical-align: bottom;"><font
 size="6"><em>Eb Soprano Cornet</em></font></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;">
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><strong>Nathan Pierce</strong><br />
DeForest<br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;">
      <p align="center"><font size="6"><em><br>
Bb Cornet</em></font></p>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Matt
Sundell<br>
      <span style="font-weight: normal;">Oregon</span><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong>Eric
Williams<br>
      </strong><strong><span style="font-weight: normal;">Verona</span></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong>Jim
Jackson<br>
      <span style="font-weight: normal;">Madison</span></strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
      <td style="text-align: center; vertical-align: bottom;"></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Judith
Harrington</strong><br>
      <strong></strong><strong></strong><strong></strong><strong><span
 style="font-weight: normal;"></span></strong> Johnson Creek<strong><span
 style="font-weight: normal;"></span></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong></strong><strong></strong><strong><span
 style="font-weight: normal;"></span></strong><strong><span
 style="font-weight: normal;"></span></strong><strong><span
 style="font-weight: normal;"></span></strong><strong>Carol
Fisher<br>
      </strong><strong></strong><strong><span
 style="font-weight: normal;">Madison</span></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;"></span><strong></strong><strong></strong><strong><span
 style="font-weight: normal;"><span style="font-weight: bold;"></span></span></strong><strong><span
 style="font-weight: normal;"></span></strong><strong>Barb
Zahn<br>
      <span style="font-weight: normal;">Verona</span></strong> <strong>
      </strong></td>
    </tr>
    <tr>
      <td style="vertical-align: top;"></td>
      <td style="vertical-align: top;"><strong></strong></td>
      <td style="vertical-align: top;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><strong></strong><strong><span
 style="font-weight: normal;"><span style="font-weight: bold;">Dave
Hanson</span></span></strong><strong><br>
      </strong><strong><span style="font-weight: normal;">Monona</span></strong></td>
      <td style="vertical-align: top;"><strong></strong><strong>Ward
Wheat<br>
      <span style="font-weight: normal;">Madison</span><br>
      </strong></td>
      <td style="vertical-align: top;"><strong>Wayne
Crook<br>
      <span style="font-weight: normal;">Fort Atkinson</span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><font
 size="6"><em><br>
Flugelhorn</em></font></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"> <br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"> <br>
      </td>
      <td style="text-align: center; vertical-align: bottom;">
      <p align="center"><br>
      </p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;">John Zwolanek<br>
      </span> DeForest<br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;"></span><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><font
 size="6"><em><br>
Alto Horn</em></font></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong></strong><strong>Andrea
Palm<br>
      <span style="font-weight: normal;">Madison</span><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong>Gina
Braun<br>
      <span style="font-weight: normal;">Lodi</span></strong><strong></strong><strong></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Lonna
Brooks<br>
      <span style="font-weight: normal;">Rio</span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><font
 size="6"><em><br>
Baritone</em></font></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
      <td style="text-align: center; vertical-align: bottom;"></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Dave
Braun<br>
      <span style="font-weight: normal;">Lodi</span><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Darren
Powers<br>
      <span style="font-weight: normal;">Madison</span></strong> </td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Deb
Gilbert<br>
      <span style="font-weight: normal;">Palmyra</span></strong><strong><span
 style="font-weight: normal;"></span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;</td>
      <td style="text-align: center; vertical-align: bottom;">
      <p align="center"><font size="6"><em><br>
Tenor Trombone</em></font></p>
      </td>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;<br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Dan
Steward<br>
      <span style="font-weight: normal;">Portage</span><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Gerald
Stich<br>
      <span style="font-weight: normal;">Baraboo</span></strong> </td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-size: 8pt; font-family: &quot;Times New Roman&quot;;"></span><strong><span
 style="font-weight: normal;"></span>Cliff Amundsen<br>
      <span style="font-weight: bold;"></span></strong><strong><span
 style="font-weight: normal;">Madison</span></strong><strong><span
 style="font-weight: bold;"></span><span style="font-weight: normal;"></span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;</td>
      <td style="text-align: center; vertical-align: bottom;">
      <p align="center"><font size="6"><em><br>
Bass Trombone</em></font></p>
      </td>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;</td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;<br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;">&nbsp;<strong></strong><strong></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong></strong>
      <strong>Bertrand
Lanher<br>
      <span style="font-weight: normal;">Cottage Grove</span><br>
      </strong> </td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;"></span><br>
      </td>
    </tr>
    <tr>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">
      <p class="SectionHeader" style="text-align: center;"
 align="center"><font size="6"><em><br>
Euphonium</em></font></p>
      </td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;"></span><strong></strong><strong>David
Woolpert<br style="font-weight: normal;">
      <span style="font-weight: normal;">DeForest</span></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong><br>
      </strong> </td>
      <td style="text-align: center; vertical-align: bottom;"><span
 style="font-weight: bold;"></span><strong>Andres Tack<br
 style="font-weight: normal;">
      <span style="font-weight: normal;">Madison</span></strong> </td>
    </tr>
    <tr>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">
      <p class="SectionHeader" style="text-align: center;"
 align="center"><font size="6"><em><br>
EEb Tuba</em></font></p>
      </td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"> <br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Brett
Stewart<br style="font-weight: normal;">
      <span style="font-weight: normal;">UW-Madison</span><br
 style="font-weight: normal;">
      <span style="font-weight: normal;">Graduate Engineering</span></strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong><span
 style="font-weight: normal;"></span></strong> <br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><strong>David
Spies<br>
      <span style="font-weight: normal;">Madison</span></strong></td>
    </tr>
    <tr>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">
      <p class="SectionHeader" style="text-align: center;"
 align="center"><font size="6"><em><br>
BBb Tuba</em></font></p>
      </td>
      <td
 style="padding: 0in 5.4pt; width: 2.05in; text-align: center; vertical-align: bottom;"
 width="197">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Mike
Forbes<br>
      <span style="font-weight: normal;">Kearny, Nebraska</span><br
 style="font-weight: normal;">
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong>
      <br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><strong>John
Hillbo<br>
      </strong>Madison<strong><span style="font-weight: normal;"></span></strong></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><font
 size="6"><em><br>
Percussion</em></font></td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"><br>
      </td>
      <td style="text-align: center; vertical-align: bottom;"></td>
    </tr>
    <tr>
      <td style="text-align: center; vertical-align: bottom;"><strong>Paul
Meese<br>
      <span style="font-weight: normal;">Waunakee</span><br>
      </strong></td>
      <td style="text-align: center; vertical-align: bottom;"><strong></strong><strong>Keelin
Meese<br>
      <span style="font-weight: normal;">Waunakee</span><br
 style="font-weight: normal;">
      </strong> </td>
      <td style="text-align: center; vertical-align: bottom;"><strong>Cassie
Venske<br>
      <span style="font-weight: normal;">Waunakee</span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="vertical-align: top;"></td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><span style="font-weight: bold;">Janice
Nabke</span><br>
Oconomowoc </td>
      <td style="vertical-align: top;"><span style="font-weight: bold;">Tatiana
Lanher</span><br>
Cottage Grove<br>
      </td>
      <td style="vertical-align: top;"><span style="font-weight: bold;">Jack
Lussenden</span><br>
Waunakee </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><font size="6"><em><br>
Switch Hitter<br>
      </em></font></td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top;">Nathan Pierce<br>
      <span style="font-weight: bold;">Deforest</span><br>
      </td>
      <td style="vertical-align: top;"><span style="font-weight: bold;"></span><br>
      </td>
      <td style="vertical-align: top;"><span style="font-weight: bold;">John
Zwolanek</span><br>
Token Bohemian </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><font size="6"><em><br>
Personnel</em></font></td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"></td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="text-align: center; vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><strong>David Hanson</strong><br>
Events Management<br>
      <strong> <span style="font-weight: normal;"></span> </strong></td>
      <td style="vertical-align: top;"><strong></strong><strong><span
 style="font-weight: normal;"></span></strong><strong>Lonna Brooks<br>
      <span style="font-weight: normal;">President</span><br>
      <span style="font-weight: normal;"></span></strong></td>
      <td style="vertical-align: top;"><strong>Bill Rittman<br>
      <span style="font-weight: normal;">Emcee</span><br>
      </strong></td>
    </tr>
    <tr>
      <td style="vertical-align: top;"></td>
      <td style="vertical-align: top;"></td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><strong></strong><strong><span
 style="font-weight: normal;"></span></strong> <strong>Carol
Fisher</strong><br>
      <strong><span style="font-weight: normal;">Publicity</span></strong></td>
      <td style="vertical-align: top;"><strong></strong><strong><span
 style="font-weight: normal;"></span></strong><span
 style="font-weight: bold;">John Zwolanek</span><br>
Librarian<br>
      </td>
      <td style="vertical-align: top;"><span style="font-weight: bold;">Clara</span><br>
Hospitality<br>
      </td>
    </tr>
  </tbody>
</table>