ul#Sections	{
	list-style: none;
	padding-left: 0;
	width: 700px;
	margin: auto;
}

ul.sections li	{
	clear: both;
}

ul.sections li.section h2	{
	width: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	color: #555555;
	font-size: 10pt;
	border-top: 1px solid #222222;
}

ul.section_membership	{
  list-style: none;
  padding-left: 0;
	margin: auto;
	max-width: 700px;
	min-width: 100px;
	margin-left: 70px;
}

ul.section_membership li.member	{
	width: 125px;
	margin: 15px;

	clear: none;
	float: left;

	text-align: center;
}

ul.section_membership li img	{
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
}

ul.section_membership p	{
	font-size: 14pt;
	margin: 0;
	text-align: center;
}
