div.container	{
	width: 80%;
	margin: 0 auto 100px auto;
}

#Headshot	{
	height: 300px;
	width: 300px;
	background-color: #bbbbbb;
	float: left;
	margin: auto 40px auto 40px;
	padding: 4px;
}

#Name	{
	margin-bottom: 0;
}

#Section	{
	margin-top: 0;
	font-size: 12pt;
}

#Biography	{
	margin-right: 0;
}

/* Currently, this is here because css_auto_include does not recognize namespaces. */

#Actions	{
	text-align: center;
}

.member_datum	{
	padding: 10px;
}

.member_datum p	{
	text-align: left;
	display: block;
	margin: 0;
}

.member_datum .label	{
	float: left;
	font-weight: bold;
	margin: 0;
	margin-right: 10px;
}

.member_datum .label:after	{
	content: ": ";
}