<%= render :partial => 'menu' %>

<h1>Rules and Bylaws</h1>
<h2>
  <% link_to 'MBBOperations.pdf' do %>
    <%= image_tag 'pdficon_large.gif', :alt => 'Adobe PDF Icon' %>
    MBB Operations Manual
  <% end %>
</h2>

<p>
  The first edition of Madison Brass Band's <%= link_to 'Operations Manual', 'MBBOperations.pdf' %> was released by the board in August of 2009. Contained therein are audition procedures, bylaws and member agreements to which we bind our full members. These were based on the bylaws of other brass bands throughout the world.
</p>