<%= render :partial => "menu" %>

<p>Craig Mason graduated from Stoughton High School and later earned a degree in Comprehensive Music Education from UW-Platteville. He has been a music educator in Wisconsin for over 20 years. In 2007, Craig joined the Madison Brass Band as an interim conductor. In addition to writing and arranging music for the band, Mason led MBB to their first U.S. Open Brass Band Championship in 2008, where they took 5th place. In the Spring of 2009, after two consecutive years as a conductor, he was appointed permanent musical director of the band.</p>

<p>Mason has taught band and choir in Pepin, Wisconsin, and currently teaches at <a href="http://www.stoughton.k12.wi.us/hsband">Stoughton High School</a>, serving as Music Department Chairperson and Conductor of the Wind Ensemble, Symphonic Band, Jazz Ensemble, Marching Band, Pit Orchestra, and several chamber ensembles. He was selected for the Kohl Fellowship in 1989 and has been selected for Who’s Who in America several times. As a composer, Mason has written and arranged music for marching bands, concert bands, chamber ensembles, and drum &amp; bugle corps around the United States, Europe and Japan.</p>
