<%= render :partial => "menu" %>

<h1>History of the Madison Brass Band</h1>

<p>The original Madison Brass Band was founded in 1863 by George Scherer. Its first members were businessmen, cobblers, cigar-makers, stone-cutters, and a saloon proprietor. Only one member was a professional musician. The band went into remission for many years until 2002, when it was reestablished in 2002 by tubist Steve Tweed and brass band enthusiast John Zwolonek. The premiere performance was a Christmas program at Waunakee High School, directed by Sean Green. At that time, the group played few concerts, and rehearsed only during the weeks before each concert.</p>

<div id="OriginalBand">
	<%= image_tag 'original_band.jpg', :alt => 'Black-and-white photo of brass band players conversing in a half-circle with instruments' %>
	<p class="caption">
		Madison, Wisconsin. September 10, 1879.<br />
		The Madison Brass Band at Camp Randall, facing east towards the state capitol, during the 1879 Wisconsin State Fair.
	</p>
</div>

<p>MBB was incorporated as a non-profit organization in 2004 mission to bring the great British and American brass band tradition back to the greater Madison area. The first board of directors was formed under the leadership and vision of president Lonna Brooks. A Winter, Spring, and Pops series became part of their yearly routine, bringing the band to a variety of venues. In 2005, a new Christmas series and regional festival, the Grand Celebration of Brass Bands, pushed the band to practice more regularly. The band currently rehearses <em>weekly</em> in preparation for twelve or more performances per year. In addition to concerts, festivals and events in southern Wisconsin, MBB has also performed twice at the <a href="http://www.eibb.org/gcobb.php">Grand Celebration of Brass Bands</a> in Iowa.</p>

<p>During the summer of 2007, <%= link_to 'current director Craig Mason', about_director_path -%> joined the band as a conductor, and led the group to the U.S. Open Brass Band Championship in November, where they placed 5th. This had been a goal of the band for some time, and this accomplishment has increased MBB‘s desire to grow and improve. The band, since under the permanent leadership of Craig Mason, plans to return to the competition annually, competing at a high level with top-notch brass bands from throughout the country.</p>

<p>Please note: We are still looking for a saloon proprietor to <%= link_to 'join our group', join_path %>!</p>
