<h1>Join the Madison Brass Band</h1>

<h2>Who is welcome?</h2>
<p>
	In short, we are looking for friendly people who know their stuff. Great people and good musicians are always welcome, regardless of the instrument; you are welcome to sit in and audition for us!
</p>
<p>
	In case instrumentation gets too thick in one section, people can switch around and read each others' parts. The brass band was designed for people to move between horns. In addition, <em>this band owns instruments</em>, so you need not buy your own just to join the band. This may be especially useful to trumpet, french horn or bell-front baritone players; we have a brass band instrument (cornet, alto horn, etc.) that you can play, so don't let a wrong instrument stop you!
</p>

<h2>How do I join?</h2>
<p>
	First, please attend a rehearsal or performance to see if this is for you. Next, a short audition is required, at which you should present a technical work to demonstrate your ability. Recommendations, degrees, and the like are <em>not</em> required.
</p>
<p>
	Trombone, baritone, euphonium, and tuba players read treble clef parts. 95% of the music is written in treble clef, and there simply isn't time to write out parts for those who can't transpose.
</p>
<p>
  Our <%= link_to '2009 Member Handbook', 'MBBOperations.pdf' %> details on audition procedures and on general band operations (including our bylaws). Prospective members are encouraged to flip through this, in addition to attending a rehearsal, to get a full picture of the band.
</p>

<h2>What does it cost?</h2>
<p>
	Madison Brass Band has a "volunteer or pay" policy. There is always work to be done, whether by generating publicity items for the band, looking for new venues, or other administrative tasks. If you haven't the time, we would still love to have you with us, but we would ask a $50 contribution for the purchase of new music and such things.
</p>
<p>
	Players must have black concert attire (for men, that means owning a tuxedo).  In the summer, we use uniform oxford shirts which cost each player about $35.
</p>

<h2>Sounds about right?</h2>

<p>
	If you know your stuff, can leave your ego at the door, and are ready to work for excellence, <%= mail_to 'players@madisonbrass.com', 'send us an e-mail' -%> and we'll get started!
</p>
