<li class="member">
	<% unless member.biography.blank? -%>
		<% link_to member_path(member) do -%>
			<div>
				<%= image_tag member.photo.url(:thumbnail) %>
				<p><%= member %></p>
			</div>
		<% end -%>
	<% else -%>
		<div>
			<%= image_tag member.photo.url(:thumbnail) %>
			<p><%= member %></p>
		</div>
	<% end -%>
</li>
