
<h3>Please set your password to something reasonably secure, using both numbers and letters in multiple cases.</h3>
<p>
	<%= f.label :password, 'New Password' %>
	<%= f.password_field :password %>
</p>

<p>
	<%= f.label :password_confirmation, 'Confirm New Password' %>
	<%= f.password_field :password_confirmation %>
</p>
