<h1>Our Members</h1>
<p>
	We are fortunate to have an exceptional roster of players, professional musicians and music educators among them, from throughout Southern Wisconsin.
</p>

<ul id="Sections" class="sections">
	<%= render :partial => 'section', :collection => Section.public %>
	<div class="spacer">
</ul>
