<h1>Our Members</h1>
<p>
	We are fortunate to have an exceptional roster of players, many of them professional musicians and music educators, from throughout Southern Wisconsin. Our roster allows us to play challenging pieces and solo events, and our players have seen some of the best brass band repertoire through their tenure with the group. Our players are not paid, but rather they play for the music and for the exciting musical experience which is the Madison Brass Band.
</p>

<ul id="Sections">
<% Section.all.each do |section| -%>
	<li>
		<h2><%= section.instrument -%></h2>
		<ul class="section_members" id="<%= section.instrument.tableize %>">
		<% section.members.each do |member| -%>
			<li><%= link_to member, member_path(member) -%></li>
		<% end -%>
		</ul>
	</li>
<% end -%>
</ul>
