<h1>Our Members</h1>
<p>
	We are fortunate to have an exceptional roster of players, many of them professional musicians and music educators, from throughout Southern Wisconsin. Our roster allows us to play challenging pieces and solo events, and our players have seen some of the best brass band repertoire through their tenure with the group. Our members are not paid; they play for the music and for the exciting musical experience which is the Madison Brass Band.
</p>

<ul id="Sections" class="sections">
	<%= render :partial => 'section', :collection => Section.all %>
	<div class="spacer">
</ul>
