<h1 id="Name"><%=h @member.name -%></h1>
<h2 id="Section"><%=h @member.section -%></h2>

<%= image_tag @member.photo.url(:headshot), :id => 'Headshot' %>
<p id="Biography">
  <%=h @member.biography %>
</p>
<div class="spacer"></div>
